#ifndef CONFIG_H
#define CONFIG_H

// ==========================================
// KONFIGURASI WIFI & SERVER (TEMPLATE)
// ==========================================

// Daftar Server URL yang akan dicoba ESP32 satu persatu.
const char* SERVER_URLS[] = {
    "http://192.168.47.177/absensi/api/fingerprint.php", // IP Jaringan Terhubung Sekarang
    "http://192.168.1.124/absensi/api/fingerprint.php",
    "http://your-domain.com/api/fingerprint.php"
};
const int NUM_SERVERS = 3;

// API Key untuk autentikasi ke server (Samakan dengan di file .env)
const char* api_key = "your_api_key_here";

// Kredensial Akses Point WiFiManager
const char* WM_AP_NAME = "ESP32_Absensi_Setup";
const char* WM_AP_PASS = "12345678";

#endif
